controllerStatefulset:
  replicas: 1
  dnsPolicy: Default
  imagePullPolicy: IfNotPresent
  nodePluginDaemonset:
    dnsPolicy: Default
  csiAttacher:
    image: k8s.gcr.io/sig-storage/csi-attacher
    tag: v3.2.1
  csiProvisioner:
    image: k8s.gcr.io/sig-storage/csi-provisioner
    tag: v2.2.2
  csiPlugin:
    image: projects.registry.vmware.com/vmware-cloud-director/cloud-director-named-disk-csi-driver
    tag: 1.2.0.latest

nodeDaemonset:
  dnsPolicy: Default
  imagePullPolicy: IfNotPresent
  nodeDriverRegistrar:
    image: k8s.gcr.io/sig-storage/csi-node-driver-registrar
    tag: v2.2.0
  csiPlugin:
    image: projects.registry.vmware.com/vmware-cloud-director/cloud-director-named-disk-csi-driver
    tag: 1.2.0.latest

csiDriver:
  attachRequired: true
  podInfoOnMount: false
